{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Receive Product</h1>
</div>
    <div style="margin-bottom: 20px" id="operationFormApp"/>
    <input type="hidden" id="form_model" value="receive"/>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'date' %}
                {% if field.name != 'unit' %}
                    {{ field|as_crispy_field }}
                {% else %}
                    <input type="hidden" name="unit" min="0" required id="id_unit" value="0">
                {% endif %}
            {% else %}
                {% include 'operation/dateTimePickerField.html' %}
            {% endif %}
        {% endfor %}


        <button type="submit" class="btn btn-primary">Save</button>
        <a  class="btn btn-danger" href="{% url 'operation-receive-list' %}">Cancel</a>
    </form>
    </div>

{% endblock content %}

{% block page_scripts %}
    <script type="text/javascript" src="{% static 'vendor/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>

    <script type="text/javascript">
            $(function () {
                {% if form.date.value %}
                $('#datetimepicker1').datetimepicker({format: 'L', defaultDate : '{{ form.date.value }}'});
                {% else %}
                $('#datetimepicker1').datetimepicker({format: 'L'});
                {% endif %}
            });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script type="text/javascript" src="{% static 'js/custom/op_form_script.js' %}"></script>

{% endblock page_scripts %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'vendor/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock page_head %}