{% extends 'base.html' %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Details of <span class="fw-semi-bold">{{ object }} {{ object.product.name }}</span></h1>
</div>

    <div class="table-responsive" style="background-color: white; margin-bottom: 20px">
        <table class="table">
            <tr>
                <th>Code</th>
                <td>{{ object.code }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ object.product.name }}</td>
            <tr>
                <th>Created At</th>
                <td>{{ object.created_at }}</td>
            </tr>
            <tr>
                <th>Units</th>
                <td>{{ object.unit }}</td>
            </tr>
            <tr>
                <th>Return Date</th>
                <td>{{ object.date }}</td>
            </tr>
            <tr>
                <th>Receipt No.</th>
                <td>{{ object.receipt_no }}</td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>{{ object.remarks|linebreaksbr }}</td>
            </tr>
        </table>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="pull-left">
        <a href="{% url 'operation-return-update' object.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'operation-return-list' %}" class="btn btn-info">List</a>
    </div>
    <div>
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
    </div>

{% endblock content %}