{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Price</h1>
</div>
    <div style="margin-bottom: 20px" id="operationFormApp">
    <input type="hidden" id="hidden_product_id" value="{{ object.product.id }}"/>
    <input type="hidden" id="form_model" value="return"/>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a  class="btn btn-danger" href="{% url 'catalogue-product-detail' view.kwargs.product_id %}">Cancel</a>
    </form>
    </div>

{% endblock content %}

{% block page_scripts %}
    <script type="text/javascript" src="{% static 'vendor/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>


    <script type="text/javascript">
        $(function () {
            {% if form.validFrom.value %}
                $('#datetimepicker_validFrom').datetimepicker({
                    format: 'YYYY-MM-DD',
                    defaultDate: '{{ form.validFrom.value|date:"Y-m-d" }}'
                });
            {% else %}
                $('#datetimepicker_validFrom').datetimepicker({format: 'YYYY-MM-DD'});
            {% endif %}

            {% if form.validThrough.value %}
                $('#datetimepicker_validThrough').datetimepicker({
                    format: 'YYYY-MM-DD',
                    defaultDate: '{{ form.validThrough.value|date:"Y-m-d" }}'
                });
            {% else %}
                $('#datetimepicker_validThrough').datetimepicker({format: 'YYYY-MM-DD'});
            {% endif %}
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script type="text/javascript" src="{% static 'js/custom/op_form_script.js' %}"></script>

{% endblock page_scripts %}


{% block page_head %}
    <link rel="stylesheet" href="{% static 'vendor/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock page_head %}