{% extends 'base.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>

</div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="pull-left">
        <a href="{% url 'catalogue-product-create' %}" class="btn btn-primary">Create</a>
    </div>
    <form class="form form-inline pull-right" action="{% url 'catalogue-product-list' %}">
            <input type="text" name="q" class="form-control" placeholder="search" value="{{request.GET.q}}" />
            <button class="btn btn-search btn-info">Search</button>
            <a href="{{ request.path }}" class="btn btn-danger">Clear</a>
    </form>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered" style="background-color: white">
            <thead>
                <th>
                    #
                </th>
                <th>
                    <a href="{{ sort_helper.get_sort_query_by_name_asc }}"><i class="fa fa-caret-up"></i></a>
                    Name
                    <a href="{{ sort_helper.get_sort_query_by_name_desc }}"><i class="fa fa-caret-down"></i></a>
                </th>
                <th>
                    Unit Name
                </th>
                <th>
                    Added By
                </th>
            </thead>
            <tbody>
                {% for obj in object_list %}
                   <tr>
                    <td><a href="{% url 'catalogue-product-detail' obj.pk %}">{{ obj.code }}</a></td>
                   <td>{{ obj.name }}</td>
                    <td>{{ obj.unitName.name }}</td>
                   <td>{{ obj.created_by }}</td>
                   </tr>
                {% endfor %}

            </tbody>
        </table>
        {% if is_paginated %}

                <ul class="pagination pagination-small">
                    <li class="prev {%if not page_obj.has_previous%}disabled{%endif%}">
                        <a class="page-link" href="{%if page_obj.has_previous%}?page={{ page_obj.previous_page_number }}{%endif%}">
                            Prev
                        </a>
                    </li>
                    {%for page in page_obj.paginator.page_range%}
                        {%if page == page_obj.number%}
                            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {%endif%}
                    {%endfor%}
                    <li class="next {%if not page_obj.has_next%}disabled{%endif%}">
                        <a class="page-link" href="{%if page_obj.has_next%}?page={{ page_obj.next_page_number }}{%endif%}">
                            Next
                        </a>
                    </li>
                </ul>

        {% endif%}
    </div>
{% endblock content %}